@import "variables.css";
* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.main-container {
  display: flex;
  background: linear-gradient(5deg, white, rgba(132, 255, 0, 0.5));
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.nav-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
  padding-right: 4rem;
}

.mid-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.quote {
  font-family: var(--theme-head-font);
  padding: 0 0.2rem 0 0.2rem;
}

.logo {
  height: 6rem;
  width: 6rem;
  margin: 0;
  animation: glow 3s ease-in-out;
}

@keyframes glow {
  from {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.main-container {
  font-family: var(--theme-head-font);
  font-weight: var(--theme-head-wgt);
}

.home,
.services,
.about,
.contact {
  cursor: pointer;
}
